@import "tailwindcss";

:root{
    --primary:#fea928;
    --secondary: #ed8900;
    --sm: 2rem;

}

/* container: {
    center: true,
    padding: {
        DEFAULT: "1rem",
        
        lg: "4rem",
        xl: "5rem",
        "2xl": "6rem",
    }
} */

.textPrimary{
    color: var(--primary)
}
.textSm{
    font-size: 2rem;
}